
.wrapper{
  margin: auto;
   width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 138px;
}

.logo,
.menu {
 display: inline-block;
}

.logo {
  position: relative;
  padding: 33px 0;
  padding-left: 42px;
 font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center; 
}

.menu__item {
  position: relative;
  margin: 6px 27px 0 0;
  font: 500 18px/21px'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
 
.menu__item:hover {
  color: red;
  opacity: 0.5;
}
 
.menu__item:hover:after, 
 .menu__item_active:after {
  opacity: 1;
  width: 100%;
}  

.menu__item:last-child {
 padding-right: 0;
  margin-right: 0;
}

.menu__item_active:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.hamburger-menu {
display: none;
}

.main {
  padding:  0 63% 15.3% 0;
 background: top right no-repeat url(img/Frame.svg);
}

.main__title {
  margin: 0 0 39px 0;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
  padding-top: 74px;
}
 
.main__subtitle {
 margin: 0 0 38px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
  padding-right: 110px;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 20px 34px 20px 19px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: none;
  outline: none;
  border-radius: 10px;
}

.main__button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  background-size: 400%;
  z-index: -1;
  top: -2px;
  left:-2px;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.main__button:hover {
  color: #fff;
}

.main__button:hover:after {
  background: transparent;
}

.main__button:hover:before {
  opacity: 1;
}

.main__button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0056EC;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.main__title-text_highlight {
  background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
}
   
.circle{
 background: center no-repeat url(img/Group16.svg);
  width: 50px;
  height: 20px;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 1490px) {
 .main {
   background-size: 63%; 
 } 

 .main__title {
   font-size: 340%;
   line-height: 130%;
 }
}

@media (max-width: 1367px) {
  .wrapper {
   width: 68.8%; 
  }

  .header {
   margin-bottom: 90px;
  }

  .logo {
   padding-left: 45px;   
  }

  .logo__circle_color_dark-blue {
   top: 48%;
  }

  .menu__item {
   margin: 6px 26px 0 0;
   font-size: 14.3px;
  }

  .menu__item_active:after {
   top: 18.5px;
  }

  .main__title {
   margin: 0 0 39px 0;
   font-size: 312%;
   padding-top: 18px;
   line-height: 65px;
  }

  .main {
   padding: 0 44% 112px 0;
   background-size: 55.4%;
  }

  .main__subtitle {
   margin: 0 0 40px 0;
   font-size: 18.2px;
   line-height: 23px;
   padding-right: 150px;
  }

  .main__button {
   font-size: 14px;
   padding: 12px 25px 12px 17px;
  }
}

@media (max-width: 1245px) {
  .main__title {
   font-size: 250%;
   margin: 0 0 5% 0;
   line-height: 55px;
  }

  .main__subtitle {
   margin: 0 0 5% 0;
   padding-right: 190px;
  }
}

@media (max-width: 1100px) {
  .main__title {
   font-size: 220%;
   line-height: 55px;
   margin: 0 0 25px 0;
  }
}
  

@media (max-width: 1024px) {
 .wrapper {
   width: 92.5%; 
  }

 .header {
   margin-bottom: 90px;
  }

 .logo {
  padding-left: 45px;
  }

  .logo__circle_color_dark-blue {
   top: 48%;
  }

 .menu__item {
   margin: 6px 25px 0 0;
   font-size: 14.3px;
  }

 .main__title {
   margin: 0 0 39px 0;
   font-size: 50px;
   padding-top: 18px;
   line-height: 65px;
  }

  .main {
   padding: 0 44% 112px 0;
   background-size: 55.4%;
  }

 .main__subtitle {
   margin: 0 0 40px 0;
   font-size: 18.2px;
   line-height: 23px;
   padding-right: 150px;
  }

 .main__button {
   font-size: 14px;
   padding: 11px 24px 13px 18px;
  }
}

@media (max-width: 910px) {
  .main__title {
   font-size: 40px;
   line-height: 50px;
   margin: 0 0 5% 0;
   padding-right: 35px;
  }

 .main__subtitle {
   margin: 0 0 5% 0;
   padding-right: 170px;
  }
}

@media (max-width: 769px) {
   .wrapper {
    width: 95%;
  }

  .header {
   margin-bottom: 16px;
  }
   
  .menu {
   display: none;
   text-align: center;
  }

  .hamburger-menu{
   display: flex;
  }

  /* скрываем чекбокс */
  #menu__toggle {
   opacity: 0;
  }

  /* стилизуем кнопку */
  .menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center;  /* центрируем содержимое кнопки */
   position: fixed;
   top: 26px;
   left: 90%;
   width: 35px;
   height: 25px;
   cursor: pointer;
   z-index: 1;
  }

  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: #0056EC;
   transition-duration: .25s;
  }

 .menu__btn > span::before {
   content: '';
   top: -8px;
  } 

 .menu__btn > span::after {
   content: '';
   top: 8px;
  }

  /* контейнер меню */
  .menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 240px 0;
   list-style: none;
   text-align: center;
   background-color: #FFFFFF;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   transition-duration: .25s;
  }

 /* элементы меню */
 .menu__item {
   display: block;
   padding: 30px 24px;
   line-height: 35px;
   color: #333;
   font-family: 'Roboto', sans-serif;
   font-size: 55px;
   font-weight: 600;
   text-decoration: none;
   transition-duration: .25s;
  }

 .menu__item:hover {
   background-color: #FFFFFF;
  }

 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
  }

 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
  }

 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
  }

 #menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
  }

 .logo__text {
   display: none;
  }
    
  .logo__circle {
   width: 50px;
   height: 50px;
  }

 .logo__circle_color_dark-blue {
   top: 30px;
  }

  .main {
   text-align: center;
   padding: 70% 0 0;
   background-size: 80%;
   background-position: top center;
  }
   
  .main__title {
   margin-bottom: 40px;
   font-size: 50px;
   line-height: 150%;
  }
         
  .main__subtitle {
   margin-bottom: 30px;
   font-size: 25px;
   padding-right: 5px;
   line-height: 35px;
  }
   
  .main__button {
   padding: 25px;
   font-size: 25px;
  }
   
  .circle{
    display: none
  };
}
   
@media (max-width: 376px) {
 .wrapper {
   width: 91%;
  }

  .header {
   margin-bottom: 14px;
  }
   
 .menu {
   display: none;
   text-align: center;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
   display: block;
   position: absolute;
   height: 3px;
  }

  .menu__btn {
   top: 26px;
   left: 326px;
   width: 26px;
   height: 29px;
  }

  .menu__box {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 170px 0;
  }

  .menu__item {
    padding: 13px 0;
   line-height: 28px;
   font-size: 30px;
 }
  
  .logo__circle {
   width: 28px;
   height: 28px;
  }
    
   
  .main {
   text-align: center;
   margin-left: 3px;
   padding: 74% 0 0;
   background-size: 86%;
   background-position: top center; 
  }
   
 .main__title {
   margin-bottom: 32px;
   font-size: 30px;
   line-height: 39.5px;
  }
         
  .main__subtitle {
   margin: 0 30px 24.6px 36px;
   font-size: 16px;
   line-height: 19.5px;
  }
   
 .main__button {
   padding: 12px 26px 12px 15px;
   font-size: 14px;
  }
}


  
